**PYTHON BASIC QUESTIONS**

1). Python is a high level , interpretable and objec oriented language. It is popular because it is easy to understand ,used widely through out the world and rapidly growing language

2). A python interpreter is a program where it executes the python code line by line. Interpreter translates code at run time

3). Predefined Key words are keywords which has special purpose and meaning
example: input, import, break, etc...

4). No, Keywords cannot be used as Variables

5). Mutablity in python means which can be modifies or change. In python LISTS can be changed unlike Tuples

6). >>Lists are mutable because it can be changed further.Lists use[]
 >>Tuples are immutable because if you make changes for any other lists and accidently access tuples, it dosent effect the tuple. Tuples uses()

7). == operator is used to when the value of both the operands are equal

  "is" operator checks whether differnt variables pounts towards a similar object in memory

8). Logical Operators are "AND","OR" and "NOT"

9). Type Casting in python changes the type of data type while executing

10).
 Implicit Type conversion is in-buit and is performed by interpreter

 Explicit is a user defined conversion where the programmer gets to decide

11). Conditional Statements in Python helps to enable the program to be controlled by conditions that are evaluated during run time. ex: if, else, el-if

12). "elif" conditional statement allows you to check multiple conditions in sequence. It is written after "if" condition and gets executed only when "if" condition is false.

13).
>>For loop: it executes block of codes repeatedly for certain number of times

>>While loop: it executes block of code until the condition given becomes false

14). Imagine a situation  where you want to read a document and don't know how many lines are there. In such scenario's while loop is used more than for loop as it itterates until the last letter of file

**PRACTICAL QUESTIONS**

1.

In [ ]:
a="Hello,"
b="World!"
print(a,b)

Hello, World!

2.

In [ ]:
name="Kanchi Ankita"
age=20
print("my name is:",name)
print("my age is:",age)

my name is: Kanchi Ankita
my age is: 20

3.

In [ ]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

4.

In [ ]:
import keyword
def is_keyword(word):
  return keyword.iskeyword(word)
word = "input"
if is_keyword(word):
  print(f"'{word}' is a Python keyword.")
else:
  print(f"'{word}' is not a Python keyword.")

'input' is not a Python keyword.

5.

In [ ]:
#creating a list
a=[1,2,3,"sun","moon"]
a[2]="earth"
print(a)

[1, 2, 'earth', 'sun', 'moon']

In [ ]:
#creating a tuple
b=(1,2,3,"sun","moon")
b[2]="earth"
print(b) #here we get error because tuples are immutable

TypeError: 'tuple' object does not support item assignment

7.

In [ ]:
def basic_arithmetic(num1, num2):
    results = {}
    results["addition"] = num1 + num2
    results["subtraction"] = num1 - num2
    results["multiplication"] = num1 * num2

    if num2 != 0:
        results["division"] = num1 / num2
    else:
        results["division"] = "Cannot divide by zero"

    return results

if __name__ == "__main__":
    try:
        num1 = float(input("Enter the first number: "))
        num2 = float(input("Enter the second number: "))

        results = basic_arithmetic(num1, num2)

        print("\nResults:")
        for operation, result in results.items():
            print(f"{operation}: {result}")
    except ValueError:
        print("Invalid input. Please enter numbers only.")

Enter the first number: 9
Enter the second number: 9

Results:
addition: 18.0
subtraction: 0.0
multiplication: 81.0
division: 1.0

8.

In [ ]:
x = True
y = False
# Logical AND
print(f"x and y: {x and y}")

# Logical OR
print(f"x or y: {x or y}")

# Logical NOT
print(f"not x: {not x}")
print(f"not y: {not y}")

x and y: False
x or y: True
not x: False
not y: True

9.

In [10]:
def convert_input(user_input):
    try:
        integer_value = int(user_input)
        print("Integer:", integer_value)
    except ValueError:
        print("Invalid input for integer conversion.")

    try:
        float_value = float(user_input)
        print("Float:", float_value)
    except ValueError:
        print("Invalid input for float conversion.")
    if user_input:
      boolean_value = bool(user_input)
      print("Boolean:", boolean_value)
    else:
        print("Boolean: False (empty string or zero)")
if __name__ == "__main__":
    user_input = input("Enter a value: ")
    convert_input(user_input)

Enter a value: 12
Integer: 12
Float: 12.0
Boolean: True

10.

In [15]:
my_list = [1, 2.5, "hello", True, [1, 2]]
int_list = []
for item in my_list:
    try:
        int_list.append(int(item))
    except (ValueError, TypeError):
        int_list.append(None)
print(f"Integer list: {int_list}")
float_list = []
for item in my_list:
    try:
        float_list.append(float(item))
    except (ValueError, TypeError):
        float_list.append(None)
print(f"Float list: {float_list}")
str_list = [str(item) for item in my_list]
print(f"String list: {str_list}")
bool_list = [bool(item) for item in my_list]
print(f"Boolean list: {bool_list}")

Integer list: [1, 2, None, 1, None]
Float list: [1.0, 2.5, None, 1.0, None]
String list: ['1', '2.5', 'hello', 'True', '[1, 2]']
Boolean list: [True, True, True, True, True]

11.

In [25]:
number=int(input("ENTER THE NUMBER : "))
if number > 0:
  print("Positive")
elif number < 0:
  print("Negative")
else:
  print("Zero")

ENTER THE NUMBER : 12
Positive

12.

In [27]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

13.

In [6]:
sum=0
for i in range(2,51,2):
  sum+=i
print(f"The sum of all even numbers between 1 and 50 is: {sum}")

The sum of all even numbers between 1 and 50 is: 650

14.

In [8]:
name=str(input("enter the string: "))
i=len(name)-1
while i>=0:
  print(name[i],end='')
  i=i-1

enter the string: Ankita
atiknA

15.

In [10]:
def factorial(n):
  if n == 0:
    return 1
  else:
    fact = 1
    while(n > 1):
      fact *= n
      n -= 1
    return fact
number = int(input("Enter a number: "))
result = factorial(number)
print("The factorial of", number, "is", result)

Enter a number: 12
The factorial of 12 is 479001600